*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	padding: 0.5em;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
	table-layout: fixed;
	box-sizing: border-box;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-top: 0;
	border-bottom: 3px solid #04324c;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	color: #fff;
	background-color:#0c8cd3;	
	width: 20%;
    display: block;
    clear: both;
	margin: 10px 0px;
}

button:active{
	border-top: 3px solid;
	border-bottom: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido{
	background-color: #ffd9d9;
	border: 0.15em solid red;
	color: #525252;
}
.form-error, .form-success{
	padding: 1em;
	margin-bottom: 1em;
	border: .1em solid;
}
.form-error{
	color: red;
	border-color: red;
	background-color: #ffd9d9;
}
.form-success{
	color: green;
	border-color: green;
	background-color: #d9f9c6;
}
.form-error li{
	list-style: square;
	margin-left: .5em;
}
.remove{
	transition: 0.3s;
	line-height: 0;
	font-size: 0;
}
.invisible{
	display: none;
}